*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
body{
    background-color: rgb(246, 247, 251);
}

.wrapper{
width: 100%;
font-size: 16PX;
max-width: 43.75em;
margin: 1em auto;
}
h3{
    color: gray;
    font-weight: bold;
}
.container{
    width: 120%;   
}

.sub-container{
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 3em;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;
}
.wrapper input{
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}
.container input:focus{
    border-color: #587ef4;   
}

.total-amount-container,
.user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    margin-top: 25%;
    width: 100%;
    border-radius: 0.3em;
    box-shadow: 0 0.1em 1.2em;
}
.output-container{
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}
.output-container p {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0.6em;
    margin-bottom: 0.6em;    
}
.output-container span {
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: #e5e5e5;
}
input:focus::placeholder{
    color: #23830f;
    padding-left: 5px;
    font-weight: 400;
    transition: all 0.5s;
}
.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1s;
    cursor: pointer;
}
.submit:hover{
    background-color: #c04fe2;
}
.list {
 background-color: #ffffff;
 width: 119%;
 padding: 2em 1.2em;
 box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
 border-radius: 0.6em;

}
.sublist-content {
    width: 100%;
    border-left: .3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}
.product {
    font-weight: 500;
    margin-left: 1.5em;
    color: #363d55;
}

.amount {
    color: #414a67;
    margin-left: 20%;
}
.icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
    text-align: center;
}
.product-title {
    margin-bottom: 1em;
}
.hide{
    display: none;
}
.error{
    color: #ff465a;
}
.edit{
    margin-left: auto;
}
.edit,.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}

#copy{
    color: gray;
    display: block;
    margin-top: 35px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px){
    .wrapper{
        font-size: 14px;
    }
    .sub-container {
        grid-template-columns: 1fr;
    }
}